html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    background: white;
    min-width: 1200px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    padding-top: 50px;
    background: #eeeeee;
    margin-bottom: 80px;
}

.main-menu a,
.user-menu a {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

.main-menu a:hover,
.user-menu a:hover {
    color: #ff5a60;
}

.main-menu a:focus,
.user-menu a:focus {
    color: #bababa;
}


.main-menu ul {
    position: relative;
}

.main-menu li:active::before {
    content: "";
    width: 74px;
    height: 2px;
    display: block;
    position: absolute;
    top: 104px;
    background-color: #fb565a;
}

.user-menu li:active::before {
    content: "";
    width: 108px;
    height: 2px;
    display: block;
    position: absolute;
    top: 30px;
    left: -30px;
    background-color: #fb565a;
}

.site-menu-link-active a::before {
    content: "";
    width: 74px;
    height: 2px;
    display: block;
    position: absolute;
    top: 104px;
    background-color: #fb565a;
}

.user-menu-cart {
    position: relative;
}

.user-menu-cart a::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: -30px;
    top: 6px;
    display: block;
    background-image: url("../img/cart-icon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.header-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-menu li {
    margin-right: 50px;
}

.main-menu li:last-child {
    margin-right: 0;
}

.user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-text {
    width: 380px;
    padding: 30px 0;
    color: #283136;
}

.slide-title {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    color: black;
}

.slide .btn {
    display: block;
    width: 240px;
    padding: 10px 0;
    margin-top: 25px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.slide .btn:hover {
    background-color: #e74246;
}

.slide .btn:focus {
    background-color: #d8373c;
    color: #e5918f;
}

.slide:nth-child(1) {
    background-image: url("../img/slider-bg.png");
    background-repeat: no-repeat;
    background-position: 100% 40px;
}

.slide:nth-child(2) {
    background-image: url("../img/slider-bg-2.png");
    background-repeat: no-repeat;
    background-position: 100% 40px;
}

.slide:nth-child(3) {
    background-image: url("../img/slider-bg-3.png");
    background-repeat: no-repeat;
    background-position: 100% 40px;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.page-description {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 55px;
    line-height: 55px;
    padding: 80px 0;
}

.main-part {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.sorting {
    top: -40px;
    position: absolute;
    left: 400px;
    display: flex;
}

.sorting h2 {
    margin-right: 225px;
}

.sorting ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.sorting li {
    margin-right: 20px;
}

.sorting a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.sorting a:hover {
    color: #000000;
}

.sorting .sorting-active {
    color: #000000;
}

.range-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.range-filter {
    width: 240px;
    margin: -25px auto;
}

.range-controls {
    margin-top: 50px;
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.filter-item {
    margin-top: 50px;
    border: none;
    padding: 0;
}

.filter-item-position {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-item-products {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.filter-group {
    position: relative;
}

.filter-item-position {
    margin-top: 25px;
    margin-left: 30px;
}

.filter-group-radio {
    margin-bottom: 10px;
}

.filter-item input[type="radio"] + label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #a6a6a6;
    border-radius: 50%;
    left: -30px;
    top: -1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-item input[type="radio"] + label:hover::before {
    border-color: #a6a6a6;
}

.filter-item input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -25px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #a6a6a6;
    border-radius: 50%;
}

.filter-item input[type="radio"]:checked + label:hover::after {
    background-color: #a6a6a6;
}


.filter-group-checkbox {
    margin-bottom: 10px;
}

.filter-item input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("../img/checkbox-off.svg") 0 0 no-repeat;
    opacity: 0.8;
    border-radius: 3px;
    left: -30px;
    top: -2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-item input[type="checkbox"] + label:hover::before {
    opacity: 1;
}

.filter-item input[type="checkbox"]:checked + label::before {
    background: url("../img/checkbox-on.svg") 0 0 no-repeat;
}

.filter-item input[type="checkbox"]:disabled + label,
.filter-item input[type="radio"]:disabled + label {
    opacity: 0.4;
}
.button-accept {
    width: 250px;
    height: 50px;
    border: none;
    background-color: #eeeeee;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.button-accept:hover {
    background-color: #dfdfdf;
}

.button-accept:focus {
    background-color: #d5d5d5;
    color: #acacac;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.catalog-item {
    margin: 95px 0 75px 40px;
    position: relative;
    z-index: 1;
}

.catalog-item-1 {
    margin: 95px 0 75px 40px;
    position: relative;
    z-index: 1;
}

.catalog-item-1::before {
    content: "";
    position: absolute;
    top: -39px;
    left: 0;
    display: block;
    background-image: url("../img/browser-checked.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 2;
    width: 360px;
    height: 41px;
    cursor: pointer;
}

.catalog-item::before {
    content: "";
    position: absolute;
    top: -39px;
    left: 0;
    display: block;
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 2;
    width: 360px;
    height: 41px;
    cursor: pointer;
}

.site-promo-wrapper {
    width: 200px;
    text-align: center;
}

.catalog-item-title {
    text-transform: uppercase;
}

.catalog-item-1:hover::after {
    content: "";
    position: absolute;
    padding: 10px;
    top: 345px;
    left: 0px;
    right: 0px;
    bottom: 0;
    z-index: 3;
    display: block;
    background-color: #eeeeee;
}

.catalog-item:hover::after {
    content: "";
    position: absolute;
    padding: 10px;
    top: 345px;
    left: 0px;
    right: 0px;
    bottom: 0;
    z-index: 3;
    display: block;
    background-color: #eeeeee;
}

.button {
    background-color: #fb565a;
}

.site-promo-wrapper {
    visibility: hidden;
    margin: 0 auto;
    margin-bottom: -150px;
    position: absolute;
    bottom: 190px;
    left: 80px;
}

.catalog-item .button,
.catalog-item-1 .button {
    margin: 0 auto;
    visibility: hidden;
    margin-top: 6px;
    padding: 11px 40px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.catalog-item a,
.catalog-item-1 a {
    position: relative;
    display: block;
}


.catalog-item:hover a,
.catalog-item-1:hover a {
    z-index: 2;
}

.catalog-item:hover .button,
.catalog-item-1:hover .button,
.catalog-item:hover .site-promo-wrapper,
.catalog-item-1:hover .site-promo-wrapper
{
    visibility: visible;
    z-index: 3000;
}

.product-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.content-item {
    width: 300px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.content-item:last-child {
    margin-right: 0;
}

.product-picture {
    margin-bottom: 25px;
}

.product-caption {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.product-description {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    width: 250px;
    margin-bottom: 35px;
}

.product-button {
    display: block;
    box-sizing: border-box;
    width: 160px;
    text-decoration: none;
    padding: 15px 44px;
    color: #ffffff;
    border-radius: 5px;
}

.red {
    background-color: #fb565a;
}

.red:hover {
    background-color: #e74246;
}

.red:focus {
    background-color: #d8373c;
    color: #e5918f;
}

.green {
    background-color: #00ca74;
}

.green:hover {
    background-color: #01bc6d;
}

.green:focus {
    background-color: #00aa63;
    color: #69cc9d;
}

.yellow {
    background-color: #efc84a;
}

.yellow:hover {
    background-color: #eab535;
}

.yellow:focus {
    background-color: #e6a823;
    color: #ecc173;
}

.product-content::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.about-us-wrapper {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.about-us-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.about-us {
    width: 660px;
}

.about-us-caption {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.about-us-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
}

.list-caption {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

}

.about-us-list {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.about-us-list li {
    list-style: none;
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    padding-left: 40px;
    position: relative;
}

.about-us-list li::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    height: 2px;
    width: 25px;
    background-color: #fb565a;
}

.stats {
    width: 360px;
    text-align: center;
}

.stats img {
    margin-bottom: 35px;
}

.stats span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}

.our-stats {
    width: 100px;
    margin-top: 50px;
    display: flex;
}

.stats-list {
    margin-right: 20px;
}

.stats-list b {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
}

.stats-list p {
    text-align: left;
}

.our-clients {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.our-clients::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.our-clients .clients {
    margin-right: 95px;
    position: relative;
}

.map {
    margin-top: 80px;
}

.map iframe {
    position: absolute;
}

.map {
    position: relative;
    background-color: #F6F0E1;
    height: 430px;
}

.map img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 430px;
    width: 1200px;
    margin: 0 auto;
}

.map .container {
    position: relative;
}

.map iframe {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 430px;
    border: none;
}

.address {
    width: 318px;
    background-color: #fff;
    color: #323232;
    padding: 50px 50px;
    position: absolute;
    top: 60px;
    left: -435px;;
    transform: translateX(573px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}

.address span {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

}

.address b {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
    display: block;
    margin-top: 25px;
    margin-bottom: 35px;
}

.address-button {
    display: block;
    box-sizing: border-box;
    padding: 20px 45px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
}

.main-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.social-networks {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

}

.social-network {
    margin-right: 10px;
    width: 80px;
    height: 80px;
}

.social-network a {
    display: block;
    position: relative;
    font-size: 0;
}

.social-network a::after {
    content: "";
    border-radius: 50px;
    background-color: #e1e1e1;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

.social-network a:hover::after {
    content: "";
    background-color: #e74246;
}

.social-network a:focus::after {
    content: "";
    background-color: #d8373c;

}

.social-vkontakte a::after {
    background-image: url("../img/vk-icon.svg");
}

.social-facebook a::after {
    background-image: url("../img/fb-icon.svg");
}

.social-instagram a::after {
    background-image: url("../img/insta-icon.svg");
}

.footer-left {
    margin-right: 140px;
}

.footer-right-caption {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}

.modal-login {
    width: 960px;
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 18px 23px;
    -webkit-box-shadow: 0 10px 56px rgba(0,0,0,.7);
    box-shadow: 0 10px 56px rgba(0,0,0,.7);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

.modal-login p {
    font-size: 45px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    margin-left: 80px;
}

.form-group {
    position: relative;
}

.form-label {
    position: absolute;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    top: -25px;
    left: 0px;
}

.form-label-inside {
    position: absolute;
    color: #999999;
    font-size: 16px;
    line-height: 24px;
    top: 13px;
    left: 15px;
}

.form-input-1,
.form-input-2 {
    width: 360px;
    min-height: 50px;
    margin-bottom: 50px;
    margin-right: 40px;
    outline: none;
    border-radius: 6px;
    border: 2px solid #d7dcde;
}

textarea {
    width: 762px;
    min-height: 120px;
    outline: none;
    border-radius: 6px;
    border: 2px solid #d7dcde;
    margin-bottom: 50px;
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
}

.form-input {
    justify-content: flex-start;
}

.modal-form button {
    color: #fff;
    text-transform: uppercase;
    width: 260px;
    min-height: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 50px;
}

.close-button {
    position: absolute;
    right: 80px;
    top: 95px;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.close-button::before,
.close-button::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background: rgba(255, 0, 0, 0.3);
    top: 0;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}